@model LiteShop.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
    </dl>

    @{
        double totalSum = 0;
    }

    @if (Model.OrderDetails != null && Model.OrderDetails.Any())
    {
        <h4>Szczegóły zamówienia</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Kategoria</th>
                    <th>Ilość</th>
                    <th>Cena jednostkowa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    double? totalPriceForProduct = detail.Amount * detail.Product.Price;
                    totalSum += totalPriceForProduct.HasValue ? totalPriceForProduct.Value : 0.00;

                    <tr>
                        <td>@Html.DisplayFor(_ => detail.Product.Name)</td>
                        <td>@Html.DisplayFor(_ => detail.Product.Category.Name)</td>
                        <td>@detail.Amount</td>
                        <td>@detail.Product.Price</td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>Całkowita kwota zamówienia: @totalSum.ToString("C2")</h4>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
