@model LiteShop.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
    </dl>

    <!-- Dodanie sekcji wyświetlającej szczegóły zamówienia -->
    @if (Model.OrderDetails != null && Model.OrderDetails.Any())
    {
        <h4>Szczegóły zamówienia</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Ilość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    <tr>
                        <td>@Html.DisplayFor(_ => detail.Product.Name)</td>
                        <td>@Html.DisplayFor(_ => detail.Amount)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
